body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#app{
  text-align:center;
  padding:20px;
}

.header-section{
  padding:10px;
  color: #cccccc;
  animation: flickerBackground 0.5s infinite;
}

.flicker-section{
  position:absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  color:#999999;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  animation: slide 20s linear infinite,
  flashText 1s infinite, flickerBackground 0.5s infinite;

}

.dog-image-section{
  margin-top:100px;
  animation: flickerBackground 0.5s infinite;
}

.dog-details-section{
  position:absolute;
  top: 150px;
  left:20px;
  color:#cccccc;
  font-size: 14px;
  opacity: 0;
  transition:opacity 0.5s;
  background-color: #e0e0e0;
  padding: 10px;
  animation: pulseBackground 1.5s infinite, flickerBackground 0.5s infinite;
}

a {
  color: #00B7FF;
}