body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#app{
  text-align:center;
  padding:20px;
}

.header-section{
  padding:10px;
  color: #cccccc;
  animation: flickerBackground 0.5s infinite;
}

.flicker

a {
  color: #00B7FF;
}