body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
  padding: 20px;
}

.header-section {
  padding: 10px;
  color: #cccccc;
  animation: flickerBackground 0.5s infinite;
}

.flicker-section {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  color: #999999;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  animation: slide 20s linear infinite,
    flashText 1s infinite, flickerBackground 0.5s infinite;

}

.dog-image-section {
  margin-top: 100px;
  animation: flickerBackground 0.5s infinite;
}

.dog-details-section {
  position:
  top: 150px;
  left: 20px;
  color:purple;
  font-size: 14px;
  opacity: 0;
  transition: opacity 15s;
  background-color: #e0e0e0;
  padding: 10px;
  animation: pulseBackground 15s infinite, flickerBackground 10s infinite;
}

.action-button-section {
  position: absolute;
  bottom: 10px;
  right: 10px;
  animation: flickerBackground 0.5s infinite;
}

@keyframes flickerBackground {
  0% {
    background-color: #ff69b4;
  }

  33% {
    background-color: #00ff00;
  }

  66% {
    background-color: #00ffff;
  }

  100% {
    background-color: #999999;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes flashText{
  0%{
    color:#00ff00;
  }
  33%{
    color: #ff69b4;
  }

  66%{
    color: blueviolet;
  }
  100%{
    color: green;
  }
}

@keyframes rainbowBorder{
  0%{
    border-color: crimson;
  }
  20%{
    border-color: darkorange;
  }
  40%{
    border-color: hotpink;
  }
  60%{border-color: magenta;}
  80%{border-color: tan;}
  100%{border-color: midnightblue;}
}

@keyframes pulseBackground{
  0%{
    background-color: darkgrey;
  }
  50%{background-color: orange;}
  100%{background-color: salmon;}
}
@keyframes move{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100px);
  }
}

.dog-image{
  width: 300px;
  height: auto;
  border: 5px solid;
  animation: rainbowBorder 2s infinite;
}

.dog-details-section:hover{
  opacity: 2;
}

.action-button{
  padding: 5px;
  background-color: #f5f5f5;
  color: #f0f0f0;
  cursor: pointer;
  animation: move 2s infinite alternate;
}
